.jempe_slideshow_container {
	width: 100%;
	overflow: hidden;
	height: 200px;
}

.jempe_slideshow {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	height: 100%;
}

.jempe_slideshow_slider {
	display: flex;
	height: 100%;
	gap: 20px;
	width: fit-content;
}

.jempe_slideshow_item {
	display: flex;
	height: 100%;
	width: 200px;
	justify-content: center;
	align-items: center;
	background: #eee;
	border-radius: 20px;
}
.jempe_slideshow_slider {
	display: flex;
	gap: 20px;
	height: 100%;
	width: fit-content;
}

